* {
  box-sizing: border-box;
}
#root {
  height: 100vh;
}

body {
  background: rgb(149, 184, 218);
  background: radial-gradient(
    circle,
    #9ccbfaf5 15%,
    #96cafff5 23%,
    #6a3e8c 97%
  );
  font-family: "Oxygen";
  scroll-behavior: smooth;
  margin: 0;
  backdrop-filter: blur(10px);
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style-type: none;
  display: flex;
}

textarea {
  height: 5rem;
}
img {
  width: 90%;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
}
button {
  background: none;
  border: none;
}
form {
  margin: auto;
  display: flex;
  width: 50%;
  flex-direction: column;
  background-color: rgba(43, 52, 61, 0.127);
  padding: 2rem;
  backdrop-filter: blur(70px);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
input,
label,
textarea {
  background: none;
  text-align: start;
  cursor: text;
  color: rgba(242, 247, 251, 0.697);
  margin: 0.4em;
  padding: 1px 2px;
  border-width: 2px;
  border-color: rgba(209, 206, 217, 0.188);
  padding: 1px 2px;
  margin: 0;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  position: relative;
  font-family: var(--font-text);
  outline: none;
  padding: 0;
  width: 100%;
  padding: 1rem;
  box-shadow: inset 0 0 0 1px var(--border-color-softer);
  overflow: scroll;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.scroll {
  overflow-x: scroll;
}
.projectContainer {
  display: flex;
  width: max-content;
}
.project {
  display: flex;
  align-items: center;
  padding: 2rem;
  width: 65%;
}

.projectContainerAdmin {
  display: flex;
  align-items: center;
  padding: 2rem;
}
.projectAdmin {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
.projectCard {
  display: flex;
  height: 100%;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
  padding: 2rem;
  border-radius: 0.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
  backdrop-filter: blur(5000px);
  background-image: radial-gradient(
    circle,
    rgba(67, 139, 213, 0.3) 15%,
    rgba(150, 202, 255, 0.5) 23%,
    rgb(106, 62, 140, 0.5) 97%
  );
}
span{
  font-family: 'Remboy';
  font-weight: bold;
  white-space: nowrap;
  color:rgb(77, 80, 120);
  }

.navbar {
  display: flex;
  justify-content: flex-start;
  line-height: 2rem;
  position: absolute;
  z-index: 1;
  width: 18%;
  height: 85vh;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 1rem;
  text-transform: uppercase;
  padding: 1rem;
  backdrop-filter: blur(35px);
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.navContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

ul#navLink {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-transform: uppercase;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.infoCard {
  background-color: rgba(247, 247, 247, 0.289);
  display: flex;
  width: 40%;
  height: 50%;
  flex-direction: row;
  justify-content: center;
  border-radius: 1rem;
  padding: 2rem;
  margin-bottom: 10rem;
  transform-style: preserve-3d;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.infoCard h1 {
  font-family: "Remboy";
  font-size: 1.2rem;
  color: rgb(77, 80, 120);
}
.infoCard p {
  backdrop-filter: blur(5px);
  border-radius: 2rem;
}

.info img {
  opacity: 0.3;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  align-self: center;
  border-radius: 2rem;
}
