* {
  box-sizing: border-box;
}

body {
  background: rgb(67, 139, 213);
  background: radial-gradient(
    circle,
    rgba(67, 139, 213, 0.9598214285714286) 15%,
    rgba(150, 202, 255, 0.9598214285714286) 23%,
    rgb(106, 62, 140) 97%
  );
  font-family: "Oxygen";
  scroll-behavior: smooth;
  margin: 0;
}
a {
  text-decoration: none;
  color: aliceblue;
}
li {
  list-style-type:none;
}
textarea {
  height: 5rem;
}
img {
  max-width: 100%;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
}
button {
  background: none;
  border: none;
}
form {
  margin: auto;
  display: flex;
  width: 50%;
  flex-direction: column;
  background-color: rgba(43, 52, 61, 0.127);
  padding: 2rem;
  backdrop-filter: blur(70px);
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
input,
label,
textarea {
  background: none;
  text-align: start;
  cursor: text;
  color: rgba(242, 247, 251, 0.697);
  margin: 0.4em;
  padding: 1px 2px;
  border-width: 2px;
  border-color: rgba(209, 206, 217, 0.188);
  padding: 1px 2px;
  margin: 0;
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  position: relative;
  font-family: var(--font-text);
  outline: none;
  padding: 0;
  width: 100%;
  padding: 1rem;
  box-shadow: inset 0 0 0 1px var(--border-color-softer);
  overflow: scroll;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectCard {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.7rem;
  width: 25%;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
  backdrop-filter: blur(5000px);
  background-image: radial-gradient(
    circle,
    rgba(67, 139, 213, 0.3) 15%,
    rgba(150, 202, 255, 0.5) 23%,
    rgb(106, 62, 140, 0.5) 97%
  );
}
.project {
  padding: 1rem;
  opacity: 0.8;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 0.7rem;
  background-color: rgba(240, 248, 255, 0.127);
}
.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.navbar {
  background-color: rgba(8, 8, 8, 0.878);
  display:flex;
  justify-content: flex-start;
  line-height: 2rem;
  position: absolute;
  z-index: 1;
  width: 20%;
  height:100%;
  text-transform: uppercase;
  padding: 1rem;
 
}

.navContainer {
  display: flex;
  flex-direction: column;
align-items: flex-end;
background-color: rgba(8, 8, 8, 0.878);



}



